<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Producto Particular
    </h1>
    <div>
        Bienvenido Usuario <%= usuarioBuscado.nombre %>
        <li>
            <ul><%= usuarioBuscado.apellido %></ul>
            <ul><%= usuarioBuscado.telefono %></ul>
            <ul><%= usuarioBuscado.email %></ul>
        </li>
        
    </div>
    <div>
       <a href="/src/views/formEditDelete.ejs">
            <button>Editar</button>
        </a>
    </div>
</body>
</html>